<a href="https://colab.research.google.com/github/AurelienCD/Formation_OCR_Ing_Machine_Learning/blob/main/P4_02_notebookessais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connexion au google drive, déplacement dans le dossier contenant les données nécessaires au projet

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [7]:
%cd drive/MyDrive/Formation_OCR_Ing_Machine_Learning/Projet 4

[Errno 2] No such file or directory: 'drive/MyDrive/Formation_OCR_Ing_Machine_Learning/Projet 4'
/content/drive/MyDrive/Formation_OCR_Ing_Machine_Learning/Projet 4

Importation des librairies nécessaires au projet

In [3]:
import pandas as pad 
import numpy as np
from numpy.core.numeric import NaN

import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import statistics
from scipy import stats
from scipy.stats import pearsonr
from scipy.stats import ttest_ind
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp as multi

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [11]:
df = pad.read_csv('data_projet4_clean.csv', sep='\t')

In [13]:
df.set_index('customer_unique_id', inplace=True)

In [14]:
df

                                  customer_zip_code_prefix  ... Tot_achats
customer_unique_id                                          ...
0000366f3b9a7992bf8c76cfdf3221e2                      7787  ...     141.90
0000b849f77a49e4a4ce2b2a4ca5be3f                      6053  ...      27.19
0000f46a3911fa3c0805444483337064                     88115  ...      86.22
0000f6ccb0745a6a4b88665a16c9f078                     66812  ...      43.62
0004aac84e0df4da2b147fca70cf8255                     18040  ...     196.89
...                                                    ...  ...        ...
fffcf5a5ff07b0908bd4e2dbc735a684                     55250  ...    4134.84
fffea47cd6d3cc0a88bd621562a9d061                     44054  ...      84.58
ffff371b4d645b6ecea244b27531430a                     78552  ...     112.46
ffff5962728ec6157033ef9805bacc48                     29460  ...     133.69
ffffd2657e2aad2907e67c3e9daecbeb                     83608  ...      71.56

[97027 rows x 12 columns]

In [15]:
features_Quant = ['customer_zip_code_prefix', 'geolocation_lat','geolocation_lng', 'review_score_mean', 'Time_after_last_purchase (days)', 'nb_of_product', 'moy_achats','Tot_achats']
features_Qual = ['customer_city', 'customer_state', 'payment_type', 'order_status', 'Main_prod_category']